{{ partial "header.html" . }}

<div class="post-title-bg">
    <h1><span class="post-title">{{ .Title | markdownify }}</span></h1>
    {{ with .Params.description }}<h3><span class="post-description">{{ . }}{{ end }}</span></h3>
</div>

<main>
    <div class="post-specs">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ .Date.Format "Jan. 2, 2006" }} ∙ 
        <i class="fa fa-clock-o" aria-hidden="true"></i> {{ partial "time-to-read.html" . }}
        <br>
        {{ if .Params.tags }}
            {{ range .Params.tags }}
            <span class = "button-class">
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="cd tags/{{ lower . }}">
                <span class="button" style="border:2px solid #181B21">{{ lower . }}</span>
                </a>
            </span>
            {{ end }}
        {{ end }}
    </div>

    {{- if .Param "toc" }}
    <div class="accordion-wrapper">
        {{ partial "toc_accordion" . }}
    </div>
    {{- end }}
    
    {{ .Content }}

    {{ if (gt .Params.lastmod 0) }}
        <div class="post-last-updated">
            Last updated: {{ .Lastmod.Format "Jan. 2, 2006" }}
        </div>
    {{ end }}

    <div class="post-share-buttons">Share this post:</div>
    <div class="post-footer-right">
        {{ partial "sharing-buttons.html" . }}
    </div>

    <div class="post-footer-left">
        <a href="javascript:window.history.back();">Back</a></span> |
        <span><a href="{{ .Site.BaseURL }}">Home</a></span>
    </div>
    
</main>

<hr class="post-hr-read-more" data-content="read more">

<nav class="post-nav">
    {{ if .PrevInSection }}
        <a href="{{.PrevInSection.Permalink}}" class="prev" rel="prev" title="{{ .PrevInSection.Title}}"><i class="fa fa-caret-left" aria-hidden="true"></i>&nbsp;{{ .PrevInSection.Title}}</a>
    {{ end }} 
    
    {{ if .NextInSection }}
        <a href="{{.NextInSection.Permalink}}" class="next" rel="next" title="{{.NextInSection.Title}}">{{.NextInSection.Title}}&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i></a>
    {{ end }}
</nav>

{{ partial "footer.html" . }}
